.blog-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.blog-pagination button {
  padding: 10px;
  border: 1px solid #000;
  margin: 10px;
  transition: all.3s;
}
.blog-pagination button:hover {
  background-color: #3f3f3f;
  color: #fff;
  transition: all.3s;
  cursor: pointer;
}
.blog-pagination .active {
  background-color: #3f3f3f;
  color: #fff;
  transition: all.3s;
  cursor: pointer;
}
