.header-top {
  background-color: #566661;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  height: 60px;
}
.socials {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
.social-item {
  padding: 5px;
}
.social-item a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  transition: all 0.5s;
}
.social-item a:hover {
  color: #3f3f3f;
  transition: all 0.5s;
}
.search-bar {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  align-items: baseline;
}
.top-nav {
  margin-right: 20px;
}
.top-nav a {
  margin: 0px 10px;
  color: #fff;
}
.search-bar input {
  margin-right: 20px;
  border: none;
  transition: all 0.5s;
  font-size: 1.2rem;
  padding: 5px 10px;
  color: #3f3f3f;
}
.search-bar input:focus {
  margin-right: 20px;
  outline: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: all 0.5s;
  font-size: 1.2rem;
  padding: 5px 10px;
}
.search-bar .btn-search {
  margin-right: 20px;
  border: 1px solid #dbdbdb;
  transition: all 0.5s;
  font-size: 1.4rem;
  color: #fff;
  background-color: #566661;
}
.search-bar .btn-search:hover {
  border: 1px solid #b3b8b6;
  transition: all 0.5s;
  border-radius: 10px;
  color: #b3b8b6;
}
.header-image {
  width: fit-content;
  margin: 10px auto;
  align-items: center;
  justify-content: center;
  display: flex;
}
.header-image img {
  width: 50%;
  margin: auto;
}
nav {
  margin: 20px auto;
}
.navs {
  display: flex;
  max-width: 100%;
  justify-content: center;
  margin: 10px 20%;
}
.navs .nav-item {
  padding: 10px;
}
.navs .nav-item:last-child a,
.navs .nav-item:last-child a:hover {
  background-color: #377e47;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  border-bottom: none;
}

.navs .nav-item:last-child {
  right: 0px;
  position: absolute;
  margin-right: 20px;
}
.navs .nav-item a {
  text-decoration: none;
  color: #3f3f3f;
}
.navs .nav-item a:hover {
  border-bottom: 2px solid #3f3f3f;
  color: #3f3f3f;
}
.btn-logout {
  background-color: #566661;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  color: #ff5c2a;
}
